.App {
  background-color: #282c34;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  justify-content: center;
}

.App-Canvas {
  padding: 10px 10px 10px 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.App-Dummy-Canvas {
  display: none;
}